<style>
    #pages a {
        display: inline-block;
        background: var(--main-color);
        font-size: .8rem;
        color: #fff;
        line-height: 2;
        text-align: center;
        padding: 0 .5rem;
    }
    #pages span {
        display: inline-block;
        border: 1px solid var(--main-color);
        font-size: .8rem;
        color: #393D49;
        line-height: 1.8;
        text-align: center;
        padding: 0 .5rem;
    }
</style>

<div class="mt-8" id="pages">{$pages}</div>