<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{CSS_PATH}swiper.min.css" rel="stylesheet" type="text/css" >  
    <link href="{MY_PATH}public.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-gray-200">

    <div class="h-24 px-4 bg-white flex justify-between items-center">
        <div class="h-10">
            <a href="{$sitelist[1][url]}"><img class="h-full" src="{MY_PATH}logo.png" alt="{$sitelist[1][company_cn]}"></a>
        </div>
        
        <div class="w-6 h-6 group" id="open-menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
            </svg>
        </div> 
        
        <div class="w-screen h-screen flex flex-col justify-center items-center bg-[var(--main-color)] opacity-90 fixed top-0 left-[-100%] z-50" id="menu">
            <ul class="w-1/2 mx-auto text-center">
                <li class="w-full">
                    <a class="text-slate-100 text-lg font-bold opacity-0 duration-500" href="/">首页</a>
                    <div class="w-0 h-px my-4 bg-gray-200 duration-500"></div>
                </li>
                {pc:content action="category" catid="0" num="20" siteid="$siteid" order="listorder ASC"}
                {loop $data $r} 
                {if $r[ismobilemenu] == 1}
                {$i++}
                <li class="w-full">
                    <a class="text-slate-100 text-lg font-bold opacity-0 duration-[<?php echo 500+$i*100 ?>ms]" href="{$r[url]}">{$r[catname]}</a>
                    <div class="w-0 h-px my-4 bg-gray-200 duration-[<?php echo 500+$i*100 ?>ms]"></div>
                </li>
                {/if}
                {/loop}
                {/pc}
            </ul>
            <button class="text-slate-100 my-10" id="close-menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" fill="#ffffff"/></svg>
            </button>  
        </div>
    </div>
    