{template "content","header"}

{template "content","_banner"} 
{template "content","_category"}  

<link href="{JS_PATH}layui/css/layui.css" rel="stylesheet" type="text/css" >  

<div class="px-5 mt-2">
    <div class="bg-white px-5 py-10">
        <div class="grid grid-cols-2 gap-4 layer-photos">
            {pc:content action="lists" catid="$catid" num="12" order="listorder desc" page="$page"}
            {loop $data $r}
            <div class="h-50">
                <a class="relative overflow-hidden block bg-gray-200 rounded-lg h-0 p-0 pb-[90%]" title="{$r[title]}" href="javascript:void(0);">
                    <img class="absolute object-cover w-full h-full align-middle" layer-src="{$r[thumb]}" src="{$r[thumb]}" alt="{$r[title]}"  />
                </a>
            </div>
            {/loop}
            {/pc}
        </div>
        {template "content","_pages"}
    </div>
</div>

<script type="text/javascript" src="{JS_PATH}layui/layui.js"></script>
<script>
    layui.use(['layer'], function(){
        var layer = layui.layer;
        layer.photos({
            photos: '.layer-photos',
            anim: 5
        });
    });
</script>

{template "content","footer"}