{template "content","header"}

{template "content","_banner"} 
{template "content","_category"}  

<div class="px-5 mt-2">
    <div class="bg-white px-5 py-10">
        <div class="grid grid-cols-2 gap-4">
            {pc:content action="lists" catid="$catid" num="12" order="listorder desc" page="$page"}
            {loop $data $r}
            <div class="h-50">
                <a class="relative overflow-hidden block bg-gray-200 rounded-lg h-0 p-0 pb-[90%]" title="{$r[title]}" href="{$r[url]}">
                    <img class="absolute object-cover w-full h-full align-middle" src="{$r[thumb]}" alt="{$r[title]}"  />
                </a>
                <p class="text-sm mt-4 font-serif text-center"><a title="{$r[title]}" href="{$r[url]}">{$r[title]}</a></p>
            </div>
            {/loop}
            {/pc}
        </div>
        {template "content","_pages"}
    </div>
</div>

{template "content","footer"}

