{template "content","header"}

{template "content","_banner"}
{template "content","_category"}

<div class="px-5 mt-2">
    <div class="bg-white px-5 py-10">
        <div class="text-center">
            <p class="text-lg">{$title}</p>
            <div class="inline-block h-1 bg-[var(--main-color)] w-10 my-2"></div>
            <p class="text-gray-400 text-xs">所属：{$CATEGORYS[$catid][catname]}</p>
        </div>
        <div class="font-serif text-sm leading-loose mt-5">
            <div class="bg-gray-200 p-1 text-center rounded-md">
                <div class="swiper-container" id="swiper-product">
                    <div class="swiper-wrapper">
                        {loop $pics $r}
                        <div class="swiper-slide flex h-80 items-center justify-center">
                            <img class="w-60" src="{$r[url]}" alt="{$r[title]}">
                        </div>
                        {/loop}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="mt-5">{$content}</div>
        </div>
    </div>
</div>

{template "content","footer"}
