{template "content","header"}

<div class="layui-container product-detail">  
    <div class="layui-row">
        <div class="layui-card">
            <div class="mod_head">
                <h1 class="mod_head_title">产品详情</h1>
                <p class="mod_head_en">PRODUCT DETAIL</p>
                <div class="mod_head_line"></div>
            </div>

            <div class="layui-card-body product-detail_body">
                <div class="product-detail_info">
                    <p class="product-detail_font">名称：<span>{$title}</span></p>
                    <p class="product-detail_font">分类：<span>{$CATEGORYS[$catid][catname]}</span></p>
                    <p class="product-detail_font">电话：<span>{$sitelist[1][tel]}</span></p>
                    <p class="product-detail_font">邮箱：<span>{$sitelist[1][email]}</span></p>
                    <div class="product-detail_thumb">
                        <img src="{$thumb}" alt="{$title}">
                    </div>
                </div>
                <div class="product-detail_introduce">
                    <div class="product-detail_introduce_title">产品简介</div>
                    <div class="product-detail_introduce_content">
                        {$content}
                    </div>
                	
                </div>
            </div>
        </div>
    </div>
</div>

{template "content","footer"}
