{template "content","header"}

<div class="layui-container picture-detail">  
    <div class="layui-row">
        <div class="layui-card">
            <div class="mod_head">
                <h1 class="mod_head_title">{$CATEGORYS[$catid][catname]}详情</h1>
                <p class="mod_head_en">SHOW DETAIL</p>
                <div class="mod_head_line"></div>
            </div>

            <div class="layui-card-body picture-detail_body">
                <div class="picture-detail_info">
                    <p class="picture-detail_font">名称：<span>{$title}</span></p>
                    <p class="picture-detail_font">栏目：<span>{$CATEGORYS[$catid][catname]}</span></p>
                    <p class="picture-detail_font">电话：<span>{$sitelist[1][tel]}</span></p>
                    <p class="picture-detail_font">邮箱：<span>{$sitelist[1][email]}</span></p>
                    <div class="picture-detail_thumb">
                        <img src="{$thumb}" alt="{$title}">
                    </div>
                </div>
                <div class="picture-detail_introduce">
                    <div class="picture-detail_introduce_title">{$CATEGORYS[$catid][catname]}简介</div>
                    <div class="picture-detail_introduce_content">
                        {$content}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{template "content","footer"}
