{template "content","header"}

{template "content","_banner"}
{template "content","_category"}

<div class="px-5 mt-2">
    <div class="bg-white px-5 py-10">
        <div class="text-center">
            <p class="text-lg">{$title}</p>
            <div class="inline-block h-1 bg-[var(--main-color)] w-10 my-2"></div>
            <p class="text-gray-400 text-xs">{$inputtime}</p>
        </div>
        <div class="font-serif text-sm leading-loose mt-5">
            {$content}
        </div>
    </div>
</div>

{template "content","footer"}
