.w-full {
    width: 100% !important;
}

.h-full {
    width: 100% !important;
}

.bg-dark {
    background-color: #3c3c3c;
    color: #fff;
}

.bg-light {
    background-color: #fff;
}

.bg-gray {
    background-color: #f5f5f5;
}

.text-center {
    text-align: center;
}

.btn-more {
    display: block;
    width: 15rem;
    font-size: .6rem;
    line-height: 3.2;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    background-color: var(--main-color);
    transition: all .3s ease 0s;
}

.btn-more:hover {
    opacity: .9;
    transition: all .3s ease 0s;
}

.page-banner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #05233a;
    opacity: .8;
}

.page-banner h4 {
    line-height: 1;
    color: #efefef;
}

.page-banner p,
.page-banner a {
    font-size: .6rem;
    color: #fff;
    font-weight: lighter;
}

.page-banner svg {
    width: .6rem;
    height: .6rem;
}

.page_menu {
    background-color: #f6f6f6;    
}

.page_menu_item {
    padding: 0 1.5rem;
}

.page_menu_item a {
    font-size: .6rem;
    color: #3c3c3c;
    line-height: 3.6;
}

.page_menu .active {
    background-color: var(--main-color);
}

.page_menu .active a {
    color: #fff;
}

.page_title::after {
    content: "";
    display: block;
    width: 2rem;
    height: 3px;
    background-color: var(--main-color);
    margin: 1rem auto 1.5rem;
}

.page_subtitle {
    font-size: .6rem;
    font-weight: lighter;
    color: #9c9c9c;
    text-align: center;
    margin-bottom: 2rem;
}

.page_content {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.page_content--contact {
    background-color: #fff;
    padding: 2rem 0;
    margin: 0;
}

.page_inner {
    font-size: .75rem;
    text-align: justify;
    line-height: 2.4;
}

.page_inner img {
    max-width: 100% !important;
    display: block;
    margin: .5rem auto;
}

.page_link p {
    font-size: .8rem;
    color: #3c3c3c;
    line-height: 1;
}

.side {
    width: 12rem;
}

.side_nav {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}

.side_nav h6 {
    color: var(--main-color);
}

.side_nav h6::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #cecece;
    border-left: 3rem solid var(--main-color);
    margin: .6rem 0;
}

.side_nav_item::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: .6rem 0;
}

.side_nav_item a {
    font-size: .72rem;
    color: #3c3c3c;
    line-height: 1;
}

.side_nav_item a:hover {
    color: var(--main-color);
    font-weight: bold;
    transition: all .3s ease 0s;
}

.side_nav_item--list {
    margin: .5rem 0;
}

.side_nav_item--item a {
    font-weight: lighter;
    color: #6c6c6c;
    line-height: 2;
}

.side_contact {
    padding: 2rem 1rem;
    font-size: .6rem;
    color: #fff;
    background-color: var(--main-color);
}

.side_contact h6::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 1rem 0;
}

.side_contact p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 13rem;
    margin-bottom: .5rem;
    align-items: center;
}

.side_contact span {
    display: block;
    width: 10rem;
}

.side_contact svg {
    width: .8rem;
    height: .8rem;
}

.page_product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45rem;
}

.page_product_thumb {
    width: 14.5rem;
    height: 12rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #f6f6f6;
    overflow: hidden;
    transition: all .5s ease 0s;
}

.page_product_item:hover .page_product_thumb {
    background-color: #ccc;
    transition: all .5s ease 0s;
}

.page_product_thumb img {
    max-width: 90%;
    max-height: 90%;
    transition: all .5s ease 0s;
}

.page_product_item:hover img {
    transform: scale(1.2);
    transition: all .5s ease 0s;
}

.page_product_title {
    text-align: center;
}

.page_product_title::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: all .5s ease 0s;
}

.page_product_item:hover .page_product_title::after {
    width: 100%;
    transition: all .5s ease 0s;
}

.page_product_title a {
    font-size: .6rem;
    color: #3c3c3c;
    display: inline-block;
    padding: .5rem 0;
}

.page_product_item:hover a {
    font-weight: bold;
    color: var(--main-color);
}

#pages {
    margin: 2.4rem 0;
    text-align: center;
}

#pages a {
    display: inline-block;
    background: var(--main-color);
    font-size: .6rem;
    color: #fff;
    line-height: 3;
    text-align: center;
    padding: 0 1rem;
}

#pages span {
    display: inline-block;
    border: 1px solid var(--main-color);
    font-size: .6rem;
    color: #393D49;
    line-height: 2.8;
    text-align: center;
    padding: 0 1rem;
}

.page_contact_title {
    font-size: .6rem;
    font-weight: lighter;
    line-height: 3;
}

.page_contact_qrcode {
    width: 15rem;
    text-align: center;
}

.page_contact_qrcode img {
    width: 8rem;
    height: 8rem;
}

.page_contact_list {
    display: flex;
    flex-wrap: wrap;
    width: 45rem;
}

.page_contact_item {
    display: flex;
    align-items: center;
    margin: 8px 0;
    width: 15rem;
}

.page_contact_item p {
    font-size: .8rem;
    line-height: 1;
    font-weight: 300;
    margin: 0;
    color: #3c3c3c;
}

.page_contact_icon {
    width: 3rem;
}

.page_contact_icon svg {
    width: 2rem;
    height: 2rem;
}

.page_map {
    width: 100%;
    height: 20rem;
    margin: 2rem 0;
}

.page_news_item {
    padding: 1rem;
    transition: all .5s ease 0s;
}

.page_news_item:hover,
.page_news_item:hover .page_news_info {
    background-color: var(--main-color);
    transition: all .5s ease 0s;
}

.page_news_item:hover * {
    color: #fff;
    fill: #fff;
}

.page_news_thumb {
    height: 12rem;
    overflow: hidden;
}

.page_news_thumb img {
    width: 100%;
    vertical-align: middle;
}

.page_news_info {
    padding: 1rem;
    background-color: #f6f6f6;
}

.page_news_title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1rem;
}

.page_news_title a {
    font-size: .8rem;
    color: #2c2c2c;
    line-height: 1.5;
}

.page_news_date {
    font-size: .6rem;
    color: #6c6c6c;
    font-weight: lighter;
    line-height: 1;
    margin-top: .6rem;
}

.page_news_date svg {
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}

.page_news_description {
    font-size: .6rem;
    font-weight: lighter;
    margin-top: 10px;
}

.page_msg_content {
    width: 50rem;
    margin: 0 auto;
}

.page_msg_form {
    width: 100%;
}

.page_msg_item {
    margin: 10px auto;
}

.page_msg_item input,
.page_msg_item textarea {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: .6rem;
    line-height: 1.5;
    height: 2.4rem;
    padding: 1rem;
    background: #fff;
}

.page_msg_item textarea {
    padding: 1rem;
    height: 6rem;
}

.page_msg_item ::placeholder {
    color: #acacac;
}

.page_msg_form button {
    width: 100%;
    font-size: .6rem;
    line-height: 3;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    background-color: var(--main-color);
    color: #fff;
}

.page_product_show {
    width: 45rem;
}

.page_product_show_title {
    width: 100%;
    background-color: #f6f6f6;
}

.page_product_show_title h6 {
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 1rem 2rem 1rem 1rem;
    line-height: 1;
    margin: 0;
    background-color: var(--main-color);
}

.page_product_show_title svg {
    width: 1.2rem;
    height: 1.2rem;
}

.page_product_show_photos {
    padding: 1rem;
    background-color: #f6f6f6;
    text-align: center;
    margin: 1rem 0;
    border-radius: 5px;
}

#swiper-product .swiper-slide {
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#swiper-product .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
}

.page_product_show_detail {
    background-color: #f6f6f6;
    padding: 2rem 2rem;
    margin-top: 1rem;
}