<style>
	.table_form { padding-top: 10px; }
	.table_form tbody td, .table_form tbody th { border: none !important; }
	.table_form th { font-size: 14px !important; }
	.input-text, .measure-input, input.date, input.endDate, .input-focus { height: 28px !important; }
	.table_form td, .table_form th { padding: 4px 0px 4px 20px !important; }
	.table_form tbody th { text-align: right; font-weight: 300; }
	.table_form #dosubmit { width: 100px; display: inline-block; height: 32px; line-height: 32px; padding: 0 18px; background-color: #393D49; color: #fff; white-space: nowrap; text-align: center; font-size: 14px; border: none; border-radius: 2px; cursor: pointer; }	
	.table_form input, .table_form textarea { width: 300px !important; }
	#dosubmit { margin-top: 20px; margin-left: 50px; }
</style>

<form method="post" action="?m=formguide&c=index&a=show&formid={$formid}&siteid=<?php echo $this->siteid;?>" name="myform" id="myform">
	<table class="table_form" width="100%" cellspacing="0">
		<tbody>
			{loop $forminfos_data $field $info}
			{if $info['formtype']=='omnipotent'}
				{loop $forminfos_data $_fm $_fm_value}
					{if $_fm_value['iscomnipotent']}
						{php $info['form'] = str_replace('{'.$_fm.'}',$_fm_value['form'],$info['form']);}
					{/if}
				{/loop}
			{/if}
			<tr>
			  	<th width="80">{if $info['star']} <font color="red">*</font>{/if} {$info['name']}</th>
			  	<td>{$info['form']}  {$info['tips']}</td>
			</tr>
			{/loop}
		</tbody>
	</table>
	<input type="submit" name="dosubmit" id="dosubmit" value=" 提交 ">&nbsp;<input type="reset" value=" 取消 ">
</form>


