    <div class="footer py-4">
        <div class="container d-flex justify-content-between">
            <div class="footer_box">
                <h6>产品列表</h6>
                <div class="footer_list">
                    {pc:content action="category" catid="19" num="6" siteid="$siteid" order="listorder ASC"}
                    {loop $data $r}
                    <div class="footer_item"><a href="{$r[url]}">{$r[catname]}</a></div>
                    {/loop}
                    {/pc}
                </div>
            </div>
            <div class="footer_box">
                <h6>网站导航</h6>
                <div class="footer_list">
                    {pc:content action="category" catid="0" num="5" siteid="$siteid" order="listorder ASC"}
                    {loop $data $r}
                    <div class="footer_item"><a href="{$r[url]}">{$r[catname]}</a></div>
                    {/loop}
                    {/pc}
                </div>
            </div>
            <div class="footer_box">
                <h6>关注我们</h6>
                <div class="footer_qrcode">
                    <img src="{$CATEGORYS[13][image]}" alt="扫一扫">
                </div>
            </div>
            <div class="footer_box">
                <h6>联系我们</h6>
                <div class="footer_list">
                    <div class="footer_item">手机：{$sitelist[1][mobile]}</div>
                    <div class="footer_item">座机：{$sitelist[1][tel]}</div>
                    <div class="footer_item">邮箱：{$sitelist[1][email]}</div>
                    <div class="footer_item">地址：{$sitelist[1][address]}</div>
                    <div class="footer_item">备案号：<a rel="nofollow" href="http://beian.miit.gov.cn/">{$sitelist[1][icp]}</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p class="mb-0">版权所有：{$sitelist[1][company_cn]}&nbsp;&nbsp;&nbsp;&nbsp;Copyright @ {date('Y', time())}&nbsp;&nbsp;{$sitelist[1][company_en]}&nbsp;&nbsp;All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="https://www.yzypwl.com/" title="云铺网络">云铺网络</a></p>
        </div>
    </div>

    <script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}layui/layui.js"></script>
    <script type="text/javascript" src="{JS_PATH}swiper.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
    <script type="text/javascript" src="{MY_PATH}main.js"></script>

    <script>
        $(document).ready(function(){
            $('.extra_item').hover(function(){
                $(this).siblings().removeClass('extra_item_on');
                $(this).addClass('extra_item_on');
            });
        });   
    </script>
    
</body>
</html>