{template "content","_header"}

<div class="page">
    <div class="container d-flex justify-content-between">
        {template "content","_side"}
        <div class="page_list py-5">
            <div class="page_product_list">
                {pc:content action="lists" catid="$catid" order="listorder DESC" page="$page" num="12"}
                {loop $data $r}
                <div class="page_product_item mb-3">
                    <div class="page_product_thumb">
                        <a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                    </div>
                    <div class="page_product_title">
                        <a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
            </div>
            <div id="pages" class="">{$pages}</div>
        </div>
    </div>
</div>

{template "content","_footer"}