{template "content","header"}

<div class="page">
    <div class="container py-3">

        {template "content","page_menu"}  

        <div class="page_list">
            <div class="page_picture_list row layer-photos">
                {pc:content action="lists" catid="$catid" order="id DESC" page="$page" num="12"}
                {loop $data $r}
                <div class="page_product_item col-lg-3 col-xl-3 mt-3">
                    <div class="page_product_thumb">
                        <a href="javascript:void(0);" title="{$r[title]}"><img layer-src="{$r[thumb]}" src="{$r[thumb]}" alt="{$r[title]}"></a>
                    </div>
                </div>
                {/loop}
                {/pc}
            </div>
            <div id="pages" class="">{$pages}</div>
        </div>
    </div>
</div>

{template "content","footer"}