{template "content","header"}    

<div class="mod page">
    <div class="rom">
        
        {template "content","left"}

        <!-- 标题 & 面包屑 -->
        <div class="right-col right">
        	
            {template "content","bread"}
 
		    <div class="content-info">
                <div class="content-info">{$content}</div>
				<script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=15&action=js&siteid=1'></script>
		    </div>
	    </div>
        
        <div class="clear"></div>

    </div>
</div>

{template "content","footer"}
