{template "content","header"}

<div class="page">
    <div class="container d-flex justify-content-between">
        {template "content","side"}
        <div class="page_list py-5">
            <div class="page_product_show">
                <div class="page_product_show_title">
                    <h6><svg t="1700533291479" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2885" width="200" height="200"><path d="M821.333333 256a32 32 0 0 1 64 0v565.333333c0 64.8-52.533333 117.333333-117.333333 117.333334H256c-64.8 0-117.333333-52.533333-117.333333-117.333334V202.666667c0-64.8 52.533333-117.333333 117.333333-117.333334h597.333333a32 32 0 0 1 0 64H256a53.333333 53.333333 0 0 0-53.333333 53.333334v618.666666a53.333333 53.333333 0 0 0 53.333333 53.333334h512a53.333333 53.333333 0 0 0 53.333333-53.333334V256zM341.333333 437.333333a32 32 0 0 1 0-64h341.333334a32 32 0 0 1 0 64H341.333333z m0 170.666667a32 32 0 0 1 0-64h213.333334a32 32 0 0 1 0 64H341.333333z" fill="#ffffff" p-id="2886"></path></svg> {$title}</h6>
                </div>

                <div class="page_product_show_photos">
                    <div class="swiper-container" id="swiper-product">
                        <div class="swiper-wrapper">
                            {loop $pics $r}
                            <div class="swiper-slide">
                                <img src="{$r[url]}" alt="{$r[title]}">
                            </div>
                            {/loop}
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                
                <div class="page_product_show_detail">
                    <h6 class="page_title text-center mt-1">产品详情</h6>
                    <div class="page_inner">
                        {$content}
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

{template "content","footer"}