{template "content","header"}   

<div class="page">
    <div class="container py-3">
        
        {template "content","page_menu"}  

        <div class="page_content py-5">
            <h4 class="page_title text-center">
                {$title}
            </h2>
            <div class="page_subtitle">
                栏目：{$CATEGORYS[$catid][catname]}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{$inputtime}
            </div>
            <div class="page_inner">
                {$content}
            </div>
            <div class="page_link mt-5">
                <p>上一篇：<a href="{$previous_page[url]}" title="{$previous_page[title]}">{$previous_page[title]}</a></p>
                <p>下一篇：<a href="{$next_page[url]}" title="{$next_page[title]}">{$next_page[title]}</a></p>
            </div>
        </div>
    </div>
</div>

{template "content","footer"}


